.brand-logo {
    left:40%;
}

.card-panel {
    background-color: #eeeeee; 
}

@font-face {
    font-family: "Material-Design-Icons";
    src: url("https://cdnjs.cloudflare.com/ajax/libs/materialize/0.96.1/font/material-design-icons/Material-Design-Icons.eot?#iefix") format("embedded-opentype"), url("https://cdnjs.cloudflare.com/ajax/libs/materialize/0.96.1/font/material-design-icons/Material-Design-Icons.woff2") format("woff2"), url("https://cdnjs.cloudflare.com/ajax/libs/materialize/0.96.1/font/material-design-icons/Material-Design-Icons.woff") format("woff"), url("https://cdnjs.cloudflare.com/ajax/libs/materialize/0.96.1/font/material-design-icons/Material-Design-Icons.ttf") format("truetype"), url("https://cdnjs.cloudflare.com/ajax/libs/materialize/0.96.1/font/material-design-icons/Material-Design-Icons.svg#Material-Design-Icons") format("svg");
    font-weight: normal;
    font-style: normal; 
}

.section {
    padding-bottom: 0px;
}

.row {
    margin-bottom: 0px;
}

.caption {
    font-size: 2rem;
}

.input-field input[type=text]:focus {
    border-bottom: 1px solid #00bcd4;
    box-shadow: 0 1px 0 0 #00bcd4;
}

.input-field input[type=number]:focus {
    border-bottom: 1px solid #00bcd4;
    box-shadow: 0 1px 0 0 #00bcd4;
}

.btn.cyan.waves-effect.waves-light.right {
    padding: 0 1rem;
}

.input-field.col.s12{
    margin-bottom: 23px;
}

.picker__date-display {
    background-color: #00bcd4;
}

.picker__weekday-display {
    background-color: #00bcd4;
}

.picker__close, .picker__today {
    color: #00bcd4; 
}

.picker__day.picker__day--today {
    color: #00bcd4; 
}

.picker__year-display {
    color:white; 
}

.select-dropdown {
    color: #9e9e9e;
}

ul.dropdown-content.select-dropdown li span {
    color: #00bcd4; 
}

footer.page-footer {
    background-color: #00bcd4;
}